body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.panel {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    overflow-y: auto;
}

#map {
    width: 70%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(240, 240, 240, 0.7);
    /* Default background color */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.row:nth-child(even) {
    background-color: rgba(200, 200, 200, 0.7);
    /* Alternating background color */
}

.row .line {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.row input[type="text"],
.row input[type="number"],
.row select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 100px;
    /* Ensure minimum width */
}

.row button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.custom-button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

#resetRowsBtn {
    padding: 10px 20px;
    border: none;
    background-color: #a72828;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

#popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


#csvOutput {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

#copyBtn,
#closePopupBtn {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.custom-marker .marker-pin {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: transparent;
    position: relative;
}

.custom-marker .marker-pin {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: blue;
    border: 1px solid black;
}